$primary-text-color: #f0f8ff;
$button-hover-color: #555555;

.item {
  form {
    padding: 20px;

    grid-column-start: 1;
    grid-column-end: 4;

    input {
      line-height: 24px;
      font-size: 14px;
      font-family: inherit;
      border-radius: 4px;
      border: 2px solid #333333;
      background: #666;
      width: 80%;
      transition: border 0.3s ease;

      color: $primary-text-color;

      &::placeholder {
        color: $primary-text-color;
      }
      &:focus {
        outline: none;
        border-color: $primary-text-color;
      }
    }
    button {
      color: $primary-text-color;
      background: #666;
      border: 2px solid #333333;
    }
  }

  hr {
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 4;
  }

  display: grid;
  //   flex-direction: row;

  grid-template-columns: repeat(3, 1fr);
  //grid-template-rows: fit-content(40%);

  .back {
    grid-row: 1;
    width: 100px;
    border-radius: 5px;

    :hover {
      background-color: $button-hover-color;
      box-shadow: 0px 0px 5px #333;
    }
  }

  a {
    display: block;

    padding: 20px;

    align-self: center;
    justify-self: start;
    text-decoration: none;
    color: $primary-text-color;

    span {
      font-size: 20px;
    }
  }

  img {
    grid-row: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;

    padding: 20px;

    justify-self: end;
  }

  .name {
    grid-row: 1;

    padding-bottom: 15px;

    align-self: center;
    justify-self: center;
    font-weight: 500;
    font-size: 14px;
  }

  .message {
    padding: 10px;
    margin: 10px;

    grid-column-start: 1;
    grid-column-end: 3;

    font-size: 12px;
  }
}
