@import './src/style/colors';

.spinner {
  margin: auto;
}

.pagination {
  margin: 2rem auto;

  .pageItem {
    a {
      color: $primary-text-color;
      background-color: #6c757d;
      border-color: #6c757d;

      &:hover {
        background-color: #5c636a;
      }
    }
  }
}
