@import './src/style/colors';

.pagination {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;

  .pageItem {
    a {
      color: $primary-text-color;
      background-color: #6c757d;
      border-color: #6c757d;

      &:hover {
        background-color: #5c636a;
      }
    }
  }
}
