.container {
  margin: 20px;

  display: grid;

  grid-template-columns: 2fr 10fr 1fr;
}

.avatar {
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;

    object-fit: cover;
  }

}

.info {
  div {
    margin: 3px 0;
  }

}

.follow {
  button {
    width: 100px;
    height: 30px;
  }

}