$primary-text-color: #f0f8ff;
$button-hover-color: #555555;

.item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  display: grid;
  //   flex-direction: row;

  grid-template-areas:
    'img author author'
    'img text text';
  grid-template-columns: 1fr 10fr;

  margin: 20px;

  img {
    grid-area: img;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .name {
    grid-area: author;
    align-self: end;
    font-weight: 500;
    font-size: 14px;
  }

  .message {
    font-size: 12px;
    grid-area: text;
  }
}
