@import '../../../style/colors';
@import '../../../style/defaults';

.profile {
  //display: grid;
  //grid-template-areas:
  //  'avatar info info'
  //  'posts posts posts';
  //grid-template-columns: 2fr 10fr;
  @include block;

  align-items: start;

  .profileHeader {
    display: flex;
    border-radius: 5px;

    padding: 30px 30px 0px 30px;

    background-color: $primary-block-color;
  }
}
