@use './../../style/colors';
@use './../../style/defaults';

.content {
  display: flex;
  flex-direction: column;
  grid-area: c;

  // grid-template-columns: 2fr 10fr;
  grid-template-areas: 'avatar info';
}

//.block {
//  @include defaults.block;
//}
