@import '../../../../style/colors';

.info {
  margin-top: auto;
  margin-bottom: 50px;

  color: $primary-text-color;

  grid-area: info;
  h3 {
    display: block;
  }
}

.moreInfo {
  padding: 0px;
  margin-top: 10px;
}

.empty {
  font-size: 0.8em;
}
