@use './../../style/colors';
@use './../../style/defaults';

.nav {
  grid-area: n;
  border-right: 1px solid #555555;
  height: fit-content;

  @include defaults.block;
  padding: 0 20px 0 0;
  margin-bottom: 0;

  background-color: transparent;
  box-shadow: none;

  a {
    display: block;
    @include defaults.block;
    margin: 0 0 20px;
    padding: 15px;
    min-width: 10em;

    text-decoration: none;
    color: colors.$primary-text-color;

    &:hover {
      background-color: colors.$button-hover-color;
      box-shadow: 0px 0px 5px #333;
    }
  }

  a.active {
    background-color: colors.$button-hover-color;
    box-shadow: 0px 0px 5px #333;
    cursor: default;
  }
}

//.block {
//  @include defaults.block;
//}
