@import './style/custom';
@import './style/colors';
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $primary-bg-color;
  padding-top: 20px;
  padding-bottom: 40px;
}

.app_wrapper {
  display: grid;

  max-width: 1000px;

  margin: 20px auto auto;

  // grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas:
    'h h h'
    'n c c';
}
